name: .NET Framework 4.8 Build

on:
  schedule:
    - cron: '0 0 * * 0'
  workflow_dispatch:
    inputs:
      publish:
        description: Skip version check and publish release
        type: boolean
        required: false
        default: false

jobs:
  build:
    runs-on: windows-2022

    steps:
    - name: Manual Clone Repository
      shell: bash
      run: |
        # Use the GITHUB_TOKEN for authentication
        git clone https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}.git .
        git config user.name "github-actions[bot]"
        git config user.email "github-actions[bot]@users.noreply.github.com"

    - name: Get current date
      id: date
      shell: bash
      run: echo "date=$(date +'%Y-%m-%d_%H%M')" >> $GITHUB_OUTPUT

    - name: Checkout all submodules
      id: update_sync
      shell: bash
      run: |
        git submodule update --init --recursive --remote --merge
        if [ -n "$(git status --porcelain --ignore-submodules=dirty)" ]; then
          echo "changed=true" >> $GITHUB_OUTPUT
        else
          echo "changed=false" >> $GITHUB_OUTPUT
          echo "No changes detected."
        fi

    - name: Push Updated History
      if: ${{ steps.update_sync.outputs.changed == 'true' || github.event.inputs.publish == 'true' }}
      shell: bash
      run: |
        UPDATED_MODULES=$(git diff --name-only --diff-filter=M)
        git add .
        git commit -m "Updated: $UPDATED_MODULES"
        git push origin main
        
    - name: Patch .NET Target Version
      run: find . -name "*.csproj" -exec sed -iE 's/<TargetFrameworkVersion>v4.0<\/TargetFrameworkVersion>/<TargetFrameworkVersion>v4.8<\/TargetFrameworkVersion>/' {} +
      if: ${{ steps.update_sync.outputs.changed == 'true' || github.event.inputs.publish == 'true' }}
      shell: bash

    - name: Enable Obfuscar
      run:
        find . -name "*.csproj" -exec sed -i 's|</Project>||' {} + -exec sed -i '$r obfuscar-template.patch' {} + -exec sed -i '$a </Project>' {} +
      if: ${{ steps.update_sync.outputs.changed == 'true' || github.event.inputs.publish == 'true' }}
      shell: bash

    - name: Install DNF 4.8 packs
      shell: pwsh
      if: ${{ steps.update_sync.outputs.changed == 'true' || github.event.inputs.publish == 'true' }}
      working-directory: "C:\\Program Files (x86)\\Microsoft Visual Studio\\Installer"
      run: |
        $InstallPath = "C:\Program Files\Microsoft Visual Studio\2022\Enterprise"
        $WorkLoads = '--add Microsoft.Net.Component.4.8.SDK --add Microsoft.Net.Component.4.8.TargetingPack --add Microsoft.Net.ComponentGroup.4.8.DeveloperTools'
        $Arguments = ('/c', "vs_installer.exe", 'modify', '--installPath', "`"$InstallPath`"", $WorkLoads, $WorkLoads, '--quiet', '--norestart', '--nocache')
        $process = Start-Process -FilePath cmd.exe -ArgumentList $Arguments -Wait -PassThru -WindowStyle Hidden

    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v1.1
      if: ${{ steps.update_sync.outputs.changed == 'true' || github.event.inputs.publish == 'true' }}
      
    - name: Setup NuGet
      uses: NuGet/setup-nuget@v2
      if: ${{ steps.update_sync.outputs.changed == 'true' || github.event.inputs.publish == 'true' }}

    - name: Build Solution
      if: ${{ steps.update_sync.outputs.changed == 'true' || github.event.inputs.publish == 'true' }}
      shell: bash
      run: |
        PWDROOT=$(pwd -P)
        mkdir -p ./Artifacts
        for pkg in Certify ForgeCert KeeThief/DecryptionShellcode KeeThief/KeeTheft KeeThief/KeePass-2.34-Source-Patched Koh Lockless RestrictedAdmin Rubeus SafetyKatz Seatbelt SharpDPAPI SharpDump SharpUp SharpWMI
        do
          cd $pkg

          # We assume every pkg has only one sln file.
          # This may fail builds in the future.
          nuget restore *.sln
          msbuild.exe *.sln -p:Configuration=Release -p:Platform="Any CPU" -p:DebugType=None -p:DebugSymbols=false

          cd $PWDROOT

          for file in ${pkg}/bin/Release/*.exe
          do
              cp "$file" "./Artifacts/${file%.exe}-NoObfs.exe"
            cp "./Obfuscator_Output/$file" "./Artifacts/${file%.exe}.exe"
          done

          for file in ${pkg}/bin/Release/*.dll
          do
            cp "$file" "./Artifacts/${file%.dll}-NoObfs.dll"
            cp "./Obfuscator_Output/$file" "./Artifacts/${file%.dll}.dll"
          done
        done

    - name: Create Release
      uses: softprops/action-gh-release@v1
      if: ${{ steps.update_sync.outputs.changed == 'true' || github.event.inputs.publish == 'true' }}
      with:
        tag_name: build-${{ steps.date.outputs.date }}
        name: Build ${{ steps.date.outputs.date }}
        body: |
          Automated build from StarfireLab/SharpWeb fork.
          Build Date: ${{ steps.date.outputs.date }}
        files: |
          ./Artifacts/*.exe
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
