name: .NET Framework 4.8 Build

on:
  schedule:
    - cron: '0 0 * * 0'
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-2022

    steps:
    - name: Manual Clone Repository
      shell: bash
      run: |
        # Use the GITHUB_TOKEN for authentication
        git clone https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}.git .
        git config user.name "github-actions[bot]"
        git config user.email "github-actions[bot]@users.noreply.github.com"

    - name: Get current date
      id: date
      shell: bash
      run: echo "date=$(date +'%Y-%m-%d_%H%M')" >> $GITHUB_OUTPUT

    - name: Checkout all submodules
      id: update_sync
      run: |
        git submodule update --init --recursive --remote --merge
        if [ -n "$(git status --porcelain --ignore-submodules=dirty)" ]; then
          echo "changed=true" >> $GITHUB_OUTPUT
        else
          echo "changed=false" >> $GITHUB_OUTPUT
        fi
      shell: bash

    - name: Push Updated History
      if: steps.update_sync.outputs.changed == 'true'
      run: |
        UPDATED_MODULES=$(git diff --name-only --diff-filter=M)
        git add .
        git commit -m "Updated: $UPDATED_MODULES"
        git push origin main
        
    - name: Patch .NET Target Version
      run: find . -name "*.csproj" -exec sed -iE 's/<TargetFrameworkVersion>v4.0<\/TargetFrameworkVersion>/<TargetFrameworkVersion>v4.8<\/TargetFrameworkVersion>/' {} +
      if: steps.update_sync.outputs.changed == 'true'
      shell: bash

    - name: Patch .csproj to add obfuscar phase
      run:
        find . -name "*.csproj" -exec sed -iE 's/<\/Project>//' {} + -exec sed -iE '$r obfuscar-template.patch' {} + -exec sed -iE '$<\/Project>' {} +
      if: steps.update_sync.outputs.changed == 'true'
      shell: bash

    - name: Install DNF 4.8 packs
      shell: pwsh
      if: steps.rebase_sync.outputs.changed == 'true'
      working-directory: "C:\\Program Files (x86)\\Microsoft Visual Studio\\Installer"
      run: |
        $InstallPath = "C:\Program Files\Microsoft Visual Studio\2022\Enterprise"
        $WorkLoads = '--add Microsoft.Net.Component.4.8.SDK --add Microsoft.Net.Component.4.8.TargetingPack --add Microsoft.Net.ComponentGroup.4.8.DeveloperTools'
        $Arguments = ('/c', "vs_installer.exe", 'modify', '--installPath', "`"$InstallPath`"", $WorkLoads, $WorkLoads, '--quiet', '--norestart', '--nocache')
        $process = Start-Process -FilePath cmd.exe -ArgumentList $Arguments -Wait -PassThru -WindowStyle Hidden

    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v1.1
      if: steps.update_sync.outputs.changed == 'true'
      
    - name: Setup NuGet
      uses: NuGet/setup-nuget@v1.0.6
      if: steps.update_sync.outputs.changed == 'true'

    - name: Build Solution
      if: steps.update_sync.outputs.changed == 'true'
      run:
        PWDROOT=$(pwd -P)
        for pkg in Certify ForgeCert KeeThief/DecryptionShellcode KeeThief/KeeTheft KeeThief/KeePass-2.34-Source-Patched Koh Lockless RestrictedAdmin Rubeus SafetyKatz Seatbelt SharpDPAPI SharpDump SharpUp SharpWMI
        do
          cd $pkg
          nuget restore ${pkg}.sln
          dotnet tool install -g obfuscar.console
          msbuild.exe ${pkg}.sln /p:Configuration=Release /p:Platform="Any CPU" /p:DebugType=None
          cd $PWDROOT
          cp "${pkg}/bin/Release/*.exe" .
        done

    - name: Create Release
      uses: softprops/action-gh-release@v1
      if: steps.update_sync.outputs.changed == 'true'
      with:
        tag_name: build-${{ steps.date.outputs.date }}
        name: Build ${{ steps.date.outputs.date }}
        body: |
          Automated build from StarfireLab/SharpWeb fork.
          Build Date: ${{ steps.date.outputs.date }}
        files: |
          ./*.exe
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
